.svc-toolbox__item:hover use {
    fill: #0E8BDF !important;
}

use {
    fill: #626E76 !important;
}


/*Add button*/
.svc-element__add-new-question.svc-btn:hover>.svc-add-new-item-button__text {
    color: #ffffff !important;
}


.svc-survey-element-toolbar__item:hover {
    background-color: #E6EFF8;
}

.sv-svg-icon:hover use {
    fill: #0E8BDF !important;
}

.spg-button-group__item--hover:hover {
    background-color: #fff;
    box-shadow: 0 0 0 var(--ctr-survey-page-border-width-selected, var(--lbr-stroke-x2)) #E0E5E9;
}

.svc-menu-action__button:hover .sv-svg-icon use,
.svc-menu-action__button:focus .sv-svg-icon use,
.svc-menu-action__button:focus-within .sv-svg-icon use {
  fill: #0E8BDF !important;
}


.sd-body__page:focus {
    box-shadow: 0 0 0 var(--ctr-survey-page-border-width-hovered, var(--lbr-stroke-x2)) rgba(0, 0, 0, 0.9019607843);
    background-color: transparent;
}

.svc-btn:hover {
    outline: solid calc(0.25 * (var(--sjs-base-unit, var(--base-unit, 8px)))) #0E8BDF;
    transition: background-color var(--sjs-creator-transition-duration, 150ms);
}


.svc-survey-element-toolbar__item:hover .svc-survey-element-toolbar-item__title,
.svc-survey-element-toolbar__item:hover .sv-svg-icon use {
  fill: #0E8BDF !important;   /* for the SVG */
  color: #0E8BDF;  /* for the text */
}

.svc-list__item-body:focus span .sv-svg-icon use {
  fill: #fcfeff !important;   /* for the SVG */
  color: #fcfeff;  /* for the text */
}

.sd-btn--action:hover {
    color:  #fff;
    background-color: #0E8BDF;
}

.sd-btn--action {
    color:  #0E8BDF;
    background-color: #fff;
}

/* .svc-list__item--group-selected>.svc-list__item-body, .svc-list__item--group-selected:hover>.svc-list__item-body, .svc-list__item--group-selected:focus>.svc-list__item-body .sv-svg-icon use {
    font-family: var(--ctr-font-family, var(--sjs-font-family, var(--font-family)));
    font-size: var(--ctr-font-default-size, var(--sjs-font-size-x2));
    font-style: normal;
    font-weight: 400;
    line-height: var(--ctr-font-default-line-height, var(--sjs-line-height-x3));
    color: var(--ctr-list-item-text-color-selected-submenu, var(--sjs-layer-1-foreground-100, rgba(0, 0, 0, 0.9019607843)));
    background: var(--ctr-list-item-background-color-selected-submenu, var(--sjs-layer-1-background-400, whitesmoke));
    fill: #fcfeff !important; 
} */

.svc-list__item--group-selected > .svc-list__item-body .sv-svg-icon use {
    fill: #fcfeff !important;
}

.svc-list__item.svc-list__item--with-icon:hover > .svc-list__item-body .sv-svg-icon use {
    fill: #0E8BDF !important;
}










/* 
.svc-item-value-controls__remove:not(.svc-item-value-controls__button--disabled):hover, .svc-item-value-controls__remove:not(.svc-item-value-controls__button--disabled):focus {
    background-color: var(--ctr-survey-action-button-background-color-hovered-negative, var(--sjs-semantic-red-background-10, #0E8BDF));
} */