.container {
    width: 100%;
}

.res {
    background-color: white;
    color: #093B5C;
    font-size: x-large;
}

.prev-res {
    background-color: white;
    color: #0E8BDF;
    font-size: x-large;
}